<h1>New Expense</h1>

<%= form_with(model: @expense, local: true) do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :total_amount %>
    <%= f.number_field :total_amount, step: 0.01 %>
  </div>

  <div>
    <%= f.label :user_id, "Paid By" %>
    <%= f.collection_select :user_id, @users, :id, :email %>
  </div>

  <div>
    <label>Split Type</label><br>
    <%= radio_button_tag :split_type, "equal", true %> Equal<br>
    <%= radio_button_tag :split_type, "unequal" %> Unequal
  </div>

  <div>
    <label>Select Users to share the expense:</label><br>
    <% @users.each do |user| %>
      <%= check_box_tag "user_ids[]", user.id, false %>
      <%= user.email %><br>
    <% end %>
  </div>

  <div>
    <%= f.submit "Create Expense" %>
  </div>
<% end %>
